<aside class="aside-admin ">
    <div class="admin-avatar">
        <img src="<%=user.avatar%>" alt="">
        <span><%=user.status?'adm':'user'%></span>
        <p><%=user.name%></p>
        <a href="/admin/logout"><i class="icon-exit"></i> Sair</a>
    </div>

    <div class="accordion" id="accordionExample">
        <div class="accordion-item ">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button collapsed " type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <i class="icon-cog"></i> Site
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse " aria-labelledby="headingOne"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <a href="#" id="active-teste">  <i class="icon-home"></i> HOME</a>
                    <a href="#">  <i class="icon-man"></i> SOBRE</a>
                    <a href="#">  <i class="icon-briefcase"></i> SERVIÇO</a>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                   <i class="icon-users"></i> Usuários
                </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <a href="#">  <i class="icon-home"></i> HOME</a>
                    <a href="#">  <i class="icon-man"></i> SOBRE</a>
                    <a href="#">  <i class="icon-briefcase"></i> SERVIÇO</a>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                   <i class="icon-film"></i> Videos
                </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <a href="#">  <i class="icon-home"></i> HOME</a>
                    <a href="#">  <i class="icon-man"></i> SOBRE</a>
                    <a href="#">  <i class="icon-briefcase"></i> SERVIÇO</a>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingFour">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                   <i class="icon-file-pdf"></i> Informátivos
                </button>
            </h2>
            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <a href="#">  <i class="icon-home"></i> HOME</a>
                    <a href="#">  <i class="icon-man"></i> SOBRE</a>
                    <a href="#">  <i class="icon-briefcase"></i> SERVIÇO</a>
                </div>
            </div>
        </div>
    </div>
</aside>