<div class="logo-admin">

    <div id="logo-img-admin">
        <img src="/images/assets/logoDE.png" alt="">
    </div>


</div>
<nav class="nav-admin">
    <div>
        <h2>Ãrea Administrativa</h2>
    </div>
    <div> <a id="menu-nav"><i class="icon-menu"></i></a></div>

</nav>