<%- include('../partials/head.ejs') %>
<%- include('../partials/header-pages.ejs') %>

<main id="videos">
      
    <div class="card">
        <div class="">
            <img src="http://i3.ytimg.com/vi/I15XnRhAKXY/maxresdefault.jpg" title="YouTube video" allowfullscreen></img>
          </div>
          <a href="#"><i class="icon-play"></i></a>
          <div class="">
            <h2>#1-FALA DIRETOR - ASÉDIO SEXUAL  </h2>
            <span>Participante</span>
          </div>
    </div>
    <div class="card">
        <div class="">
            <img src="http://i3.ytimg.com/vi/nMj_lsWuF4A/maxresdefault.jpg" title="YouTube video" allowfullscreen></img>
          </div>
          <a href="#"><i class="icon-play"></i></a>
          <div class="">
            <h2>#2-FALA DIRETOR - ASÉDIO SEXUAL  </h2>
            <span>Participante</span>
          </div>
    </div>
</main>


<%- include('../partials/scripts.ejs') %>