<!DOCTYPE html>
<html>

<head>
  <title>DE Sistema</title>
  <!-- ICONS -->
  <link rel="stylesheet" href="/images/assets/style.css">
  <!-- STYLES -->
  <link rel='stylesheet' href='/stylesheets/style.css' />

</head>

<body>
  <header id="header">
    <nav class="container  ">
      <div class="logo">
        <img src="/images/assets/logoDE.png" alt="">
      </div>
      <div class="menu">
        <ul class="grid">
          <li><a class="title-2" href="#home">Home</a></li>
          <li><a class="title-2" href="#about">Sobre</a></li>
          <li><a class="title-2" href="#service">Serviço</a></li>
          <li><a class="title-2" class="title-2" href="contact">Sistema</a></li>
          <li><a class="title-2" href="testimonials">Contato</a></li>
        </ul>
      </div>
      <div class="toogle icon-menu"></div>
      <div class="toogle icon-cross"></div>
    </nav>
  </header>
  <main>
    <section class="section" id="home">
      <div class="container grid">
        <div class="image">
          <img src="/images/assets/rodney.jpg" alt="Diretor na sala da DE com as fotos de todos os diretores.">
        </div>
        <div class="text">
          <h1 class="title"><i>Diretoria de Representação</i> </h1>
          <h3>Trabalho e Transparência</h3>

        </div>

      </div>
    </section>
    <div class="divider-1"></div>

    <section class="section" id="about">
      <div class="container grid">
        <div class="image">
          <img src="/images/assets/rodeneyAbout.jpg"  alt="Diretor de Representação Rodney Caeteano">
        </div>
        <h2 class="title-2">Sobre</h2>
        <div class="text">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat officiis error ea, pariatur esse veniam
            dolore ad consequatur, fugit nemo fugiat possimus animi est! Consequuntur animi laboriosam aspernatur amet
            impedit!</p>
            <br>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat, recusandae. Accusantium aliquid eius,
            placeat dicta dignissimos animi vel debitis dolorum ipsa, incidunt dolorem pariatur illo maxime ex
            necessitatibus, tenetur ipsum?</p>
            <br>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis odit totam dolor iste expedita quo, amet
            deleniti ipsam consequatur quasi dolorum est ea adipisci illum assumenda accusamus ducimus ab saepe.</p>
        </div>
      </div>
    </section>
    <div class="divider-2"></div>
    <section class="section" id="service">
      <div class="container grid">
        SERVIÇOS
      </div>
    </section>
  </main>
  <!-- javascript -->
  <script src="/javascripts/javascript.js"></script>
</body>

</html>