@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root {
    --bs-teal: #6ab9919a;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

img {
    position: relative;
}
a{
    text-decoration: none;
}
body {
    font-family: 'Roboto', cursive, sans-serif;


}
.modal-view{
    display: none;
    width:100vw;
    height: 100vh;
    background-color: #2f2e2eef;
    position: absolute;
    top: 0;
    padding: 1rem;
    right: 0;
    align-items: center;
    justify-content: center;
   

}
.modal-view .card{
   transform: translateY(-180%);
   transition: all 0.5s linear;
}
.modal-view .card-header{
    display: flex;
    justify-content: space-between;
    position: relative;
}
.modal-view .card-header i.icon-cancel-circle{
    font-size: 1.5rem;
    position: absolute;
    top: -5px;
    right: -5px;
    cursor: pointer;
    background-color: #6ab991;
    color: white;
    transition: all 0.3s linear;
    border-radius: 50%;
    box-shadow: 0 0 0 4px #6ab991;
}
.modal-view .card-header i.icon-cancel-circle:hover{
    
    background-color: #008341;
    box-shadow: 0 0 0 4px #008341;
    

}
.show{
    display: flex;
    
}
.modal-view .card-show{
    transition: all .5s linear;
    transform: translateY(0);
}
#select-modal{
    width: 100%;
    height: 2rem;
}
.modal-view .card{
    width: 100%;
}
.accordion-body{
    width: 100%;
}
.icon-bin {
    color: rgba(255, 94, 94, 0.876);
}

.icon-pencil {
    color: rgba(81, 81, 192, 0.794);


}

.btn-save {
    background-color: #6ab991;
    color: #fff;
    transition: all 0.4s linear;
    margin-right: 1em;
    margin-bottom: 1em;
}

.btn-save:hover {
    background-color: #579b79;
    color: #fff;
}

/* ############ Estilo do adm main ############*/
.section-adm {
    position: relative;
    grid-area: section;
    background-color: #ece6e6;
    padding: 1.3rem;

}

.content {
    border: 3px solid #6ab9919f;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    position: relative;
    /* box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.26); */
    margin-top: 10px;
    padding: 1rem;
   
}

.content h1 {
    color: #fff;
    background-color: #6ab991;
    position: absolute;
    padding: 1px 15px;
    margin: 0px 18px;
    top: -0.6em;
    border-radius: 5px;
}

.content h1 span {
    color: #ffffff;
    padding: 2px;
    font-size: 0.3em;
    /* border-radius: 50%; */
    border: 2px solid #fff;
    margin: 0;

}

.pagination-video {
    position: absolute;
    right: 15px;
    bottom: 0;
}

.content table tbody tr {
    width: 110px;
}

/* ###################################### */
/* #########INICIO TELA ASIDE ########### */
/* ###################################### */
.admin-main {
    display: grid;
    grid-template-areas:
        "logo  nav"
        "section section"
        "footer footer";
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 10vh 80vh 10vh;
}

.logo-admin {
    grid-area: logo;
    background-color: #faebd7;

    z-index: 200
}

#logo-img-admin {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    border-bottom: solid 3px #6ab9919a;

}

#logo-img-admin img {
    position: relative;

}


.nav-admin {
    display: flex;
    grid-area: nav;
    text-align: end;
    padding: 5px 0px;
    justify-content: space-around;
    align-items: center;
    z-index: 100;
    background-color: #faebd7;
    border-bottom: solid 3px #6ab9919a;
}

.nav-admin h2 {

    font-size: 1.2rem;
    color: #6ab991;

}

.nav-admin div a i {
    font-size: 1.5rem;
    color: #6ab991;
    border: 1px solid #6ab991;
    border-radius: 3px;
    transition: all 0.4s linear;
}

.nav-admin div a i:hover {
    background-color: #6ab9914f;

}

.logo-admin img {
    width: 50px;
    display: block;
    margin: 0 auto;

}

.aside-admin {
    grid-area: aside;
    position: fixed;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.452);
    transition: all 0.5s linear;
    top: 0;
    left: 0;
    width: 60vw;
    transform: translateX(-61vw);
    height: 100vh;
    z-index: 50;
    border-right: 1px solid #d6d0d0;
    background-color: white;
}

.show-aside-admin {
    transform: translateX(0);
    transition: all 0.5s linear;


}

#active {
    color: #ff0000a8;
    border-right: 8px solid #ff0000a8;
}


.footer {
    grid-area: footer;



}

.admin-avatar {
    padding: 10px;
    margin-top: 65px;
    margin-bottom: 0px;
    width: 100%;
    /* height: 35vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;

    /* background: repeating-radial-gradient(#6ab991, #6ab9917a 20%); */
}

.admin-avatar img {
    position: relative;
    border: 2px solid #6ab991;
    border-radius: 50%;
    max-height: 130px;
    max-width: 130px
}

.admin-avatar span {
    background-color: #6ab991;
    padding: 0px;
    width: 50%;
    color: #ffffff;
    text-align: center;
    margin-top: 10px;
    font-weight: 900;
    border-radius: 20px;
    font-size: 14px;
}

.admin-avatar p {
    color: #2f2e2e;
    font-weight: 800;
    margin: 0;
    font-size: 14px;
}

.admin-avatar a {
    text-decoration: none;
    color: #ff0000b2;
    font-size: 1.2rem;
}

.accordion-button {
    font-size: 1.2rem;
    gap: 5px
}

.accordion-body {
    padding: 0;

}

.accordion-button:not(.collapsed) {
    background-color: #6ab99125;
    color: #6ab991;

}

.accordion-body a {
    display: block;
    text-decoration: none;
    width: 100%;
    height: 100%;
    text-align: center;
    /* margin-top: 5px; */
    height: 35px;
    color: #524f4f;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 3rem;
    gap: 10px;
    border-right: 8px solid #6ab991;

    border-bottom: 1px solid #6ab991;
}

.accordion-body a i {
    font-size: 1.2rem;
    margin-bottom: 6px;
}

/* ###################################### */
/* #########INICIO TELA HOME ########### */
/* ###################################### */


.btn-person {
    width: 10rem;
    color: #ffffff;
    background-color: #6ab991;
    padding: 10px;
    transition: all 0.3s linear;
    font-weight: 800;
}

.btn-person:hover {
    background-color: #6ab9919a;
    color: #ffffff;
}

.admin-container {
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100vh;
    background-color: antiquewhite;
}

.logo {
    position: fixed;
    left: 10px;
    top: 10px;
    width: 100px;
}

.info {
    margin-left: 50px;
    margin-top: 100px;
}

div img {
    position: fixed;
    left: 0;
    width: 50%;
    opacity: 0.9;
}

span {
    color: #6ab991;
}

.info h1 {
    margin-top: 10px;
    color: #2f2e2e;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
}

.content .table-videos,
.content .table-videos thead {
    border-bottom: 2px solid #6ab991;
}

.content .table-videos thead {
    color: #6ab991;
}

.content .table-videos tbody tr th {
    color: #6ab991;
    font-size: 0.6em;
}

.content .table-videos tbody tr td {
    font-size: 0.6em;
    overflow-x: auto;

}

.content .table-videos tbody tr td.control-list a {
    margin-left: 0.5em;
    border: 1px solid #6ab991;
    padding: 0.4em;
    text-decoration: none;
    border-radius: 3px;
    transition: all 0.4s linear;
}

.content .table-videos tbody tr td.control-list a:hover {
    background-color: #6ab99173;
}

/* ###################################### */
/* #########INICIO TELA LIST MEMBERS ########### */
/* ###################################### */
.content-members {
    overflow-y: auto;
    width: 100%;
    height: 100%;
}

.card-list-members {
    /* background-color: aqua; */
    display: flex;
    margin-top: 1rem;
    /* border-left:10px solid #6ab991 ; */

    position: relative;
}

.image-card-list-members {
    width: 15%;
    max-width: 20em;

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;

}

.image-card-list-members img {
    position: absolute;
    width: 100%;
    max-width: 5em;
    height: 4em;
    left: 25%;
    border-radius: 50%;
    display: none;



}

.content-card-list-members {
    width: 100%;
    margin: 0;

}

.personal-data-title {
    background: linear-gradient(217deg, #6ab99126, #6ab991 80.71%);
    border-radius: 5px;
    width: 100%;
    color: white;
    padding-left: 3px;
    font-size: 0.6em;



}

.diviser {
    width: 100%;
    height: 0.2rem;
    background: linear-gradient(217deg, #6ab99126, #6ab991 80.71%);
    margin-top: 10px;

}

.personal-data {
    /* display: flex;
  align-items: center;
  justify-content: space-between; */

}

.personal-data p {



    font-size: 0.8em;
}

.personal-data .info-personal,
.contact-data,
.info-sistem {
    /* border-left: 8px solid #6ab991;
    flex-direction: column;
    justify-content: center;
    padding-left: 5px;
    margin-right: 1rem;
    width: 30%;
    height: 100%;
    overflow-x: auto; */

    line-height: 0px;


}

.contact-data p#email {
    display: none;
}

.info-personal p span {
    margin-right: 10px;

}

.control-member,
.info-data {
    display: none;
}

.view-member {
    border-left: 8px solid #6ab991;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5px;
    margin-right: 1rem;
    width: 100%;
    text-decoration: none;

}

.view-member a {
    color: #579b79;
    text-decoration: none;
}



/* ###################################### */
/* #########INICIO TELA FORMULÀRIO VIDEO ########### */
/* ###################################### */

.content .form-videos {
    overflow-y: auto;
    width: 100%;
    height: 95%;
    margin-top: 20px;
    margin-bottom: 20px;

}

.content .form-videos .mb-3 label {
    color: #6ab991;
}

.btn-content-save {
    display: flex;
    justify-content: flex-end;
}

/* ###################################### */
/* #########INICIO TELA FORM MEMBER########### */
/* ###################################### */
.form-member {
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    height: 100%;

}

.form-member form div label {

    color: #6ab991;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 5px;
}

.form-member i {
    color: #6ab991;
    font-size: 1.5em;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    color: #6ab991;
}


/*##################################################*/
/*#########INICIO TELA VIEW MEMBERS DESCK###########*/
/*##################################################*/
.date-personal-view {
    width: 100%;
      height: 20%;
      background-color: #524f4f;
      margin-top: 2.4rem;
      background-color: #FFFFFF;
      background-image: linear-gradient(180deg, #FFFFFF 0%, #6ab991 50%, #335e48 100%);
    
}

.date-personal-view .image-avatar-view {
    width: 40%;
    height: 100%;

    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    color: #6ab991;
}

.date-personal-view div.image-avatar-view img {
    width: 100%;
      max-width: 210px;
      max-height: 210px;
      opacity: 1;
      position: absolute;
      border-radius: 50%;
      border: 3px solid #6ab991;
      padding: 4px;
      background-color:white;

}

 .name-member-view{
    background: linear-gradient(217deg, #6ab99126, #6ab991 80.71%);
    color: white;
    width: 100%;
    height: auto;
    padding-left:2rem ;
    box-shadow: 0 1px 1px rgba(255, 0, 0, 0.568);
    padding-bottom: 0;
}
.name-member-view h2{
    font-size: 1.3em;
    margin-bottom: 1px;
}
.date-personal-views{
  overflow: auto;
  height: 19rem;
  
}
.date-personal-views p{
  font-size: 1em;

  margin: 0;
   
}
.control-member-view{

    display: flex;
    gap: 20px;
    justify-content: center;
    padding: 10px;
    flex-direction: row;
}
.control-member-view a{
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.control-member-view a.role{
    color: #335e489d;
}
.control-member-view a.del{
    color: rgba(255, 94, 94, 0.876);;
}
@media (min-width:740px) {
.modal-view{

    width: 80vw;

}
.modal-view .card{
    width: 80%;
    border-bottom: 15px solid #6ab991;
}
    /* ###################################### */
    /* #########INICIO TELA ASIDE DESCK########### */
    /* ###################################### */
    .admin-main {
        grid-template-areas:
            "logo nav nav"
            "aside section section"
            "aside footer footer";
        grid-template-columns: 1fr 2fr 2fr;


    }

    .admin-avatar {
        padding: 10px;
        margin-top: 10px;
        background-color: white;
        margin-bottom: 15px;
        height: 28vh;
        /* background: repeating-radial-gradient(#6ab991, #6ab9917a 20%); */
    }

    .logo-admin img {
        width: 70px;
    }

    .aside-admin {
        position: relative;
        width: auto;
        height: auto;
        transform: translateX(0);

        box-shadow: none;

    }

    .nav-admin {
        justify-content: center;
    }

    .nav-admin a {
        display: none;
    }

    .nav-admin h2 {
        font-size: 2rem;
        text-align: center;
    }

    /* ###################################### */
    /* #########INICIO TELA HOME DESCK########### */
    /* ###################################### */

    /* ###################################### */
    /* #########INICIO TELA MEMBERS DESCK########### */
    /* ###################################### */
    .content-members {
        overflow-y: auto;
        width: 100%;
        height: 97%;
        margin-top: 24px;

    }

    .card-list-members {
        /* background-color: aqua; */
        display: flex;
        margin-top: 1rem;
        /* border-left:10px solid #6ab991 ; */

        position: relative;
    }

    .image-card-list-members {
        width: 15%;
        max-width: 20em;

        position: relative;
        display: flex;
        justify-content: center;


    }

    .control-member,
    .contact-data {
        display: block;
    }

    .image-card-list-members img {
        display: block;
        position: absolute;
        width: 100%;
        max-width: 5em;
        height: 100%;
        left: 25%;
        border-radius: 50%;


    }

    .content-card-list-members {
        width: 100%;
    }

    .personal-data-title {
        background: linear-gradient(217deg, #6ab99126, #6ab991 80.71%);
        border-radius: 5px;
        width: 100%;
        color: white;
        padding-left: 3px;
        font-size: 1.5em;


    }

    .diviser {
        width: 100%;
        height: 0.2rem;
        background: linear-gradient(217deg, #6ab99126, #6ab991 80.71%);
        margin-top: 10px;

    }

    .personal-data {
        display: flex;
        align-items: center;
        justify-content: space-between;

    }

    .personal-data p {
        font-size: 1rem;
        display: flex;
        margin: 0;

    }

    .personal-data p span {
        margin-right: 10px;
    }

    .contact-data p#email {
        display: flex;
    }

    .personal-data .info-personal,
    .contact-data,
    .info-sistem,
    .control-member {
        border-left: 8px solid #6ab991;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 5px;
        margin-right: 1rem;
        width: 30%;
        height: 100%;
        overflow-x: auto;
        line-height: 1.5rem;

    }

    .view-member {
        border-left: 8px solid #6ab991;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 5px;
        margin-right: 1rem;
        width: 15%;
        text-decoration: none;

    }

    .view-member a {
        color: #579b79;
        text-decoration: none;
    }

    .control-member a button {
        padding: 1px;
        margin-bottom: 2px;
        font-size: 0.8em;
        width: 50%;
    }

    /*##################################################*/
    /*#########INICIO TELA VIEW MEMBERS DESCK###########*/
    /*##################################################*/
    .date-personal-view {
        width: 100%;
        height: 20%;
        background-color: #524f4f;
        margin-top: 2.4rem;
        background-color: #FFFFFF;
        background-image: linear-gradient(180deg, #FFFFFF 0%, #6ab991 50%, #335e48 100%);
    }

    .date-personal-view .image-avatar-view {
        width: 16%;
        height: 100%;

        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        color: #6ab991;
    }

    .date-personal-view div.image-avatar-view img {
        width: 100%;
        max-width: 210px;
        max-height: 210px;
        opacity: 1;
        position: absolute;
        border-radius: 50%;
        border: 3px solid #6ab991;
        padding: 4px;
    
    }

     .name-member-view{
        background: linear-gradient(217deg, #6ab99126, #6ab991 80.71%);
        color: white;
        width: 100%;
        height: auto;
        padding-left:2rem ;
        box-shadow: 0 1px 1px rgba(255, 0, 0, 0.568);
        padding-bottom: 0;
    }
    .name-member-view h2{
        font-size: 2em;
        margin-bottom: 1px;
    }
    .date-personal-views{
      
       height: 41vh;
    }
    .date-personal-views p{
      font-size: 1.3em;
    
       
    }
    .control-member-view{
    
        display: flex;
        gap: 20px;
        justify-content: center;
        padding: 10px;
        flex-direction: row;
    }
    .control-member-view a{
        font-size: 1.2rem;
    
    }
    .control-member-view a.role{
        color: #335e489d;
    }
    .control-member-view a.del{
        color: rgba(255, 94, 94, 0.876);;
    }
    /* ################################################## */
    /* #########INICIO TELA FORMULÀRIO VIDEO ############*/
    /* ##################################################*/

    .content .form-videos {
        overflow-y: auto;
        width: 100%;
        height: 95%;
        margin-top: 20px;
        margin-bottom: 20px;

    }

    .content .form-videos .mb-3 label {
        color: #6ab991;
    }

    .btn-content-save {
        display: flex;
        justify-content: flex-end;
    }

    /* ###################################### */
    /* #########INICIO TELA Video DESCK########### */
    /* ###################################### */
    .content .table-videos {
        margin-top: 0.5em;
    }

    .content .table-videos tbody tr th {
        font-size: 1em;
    }

    .content .table-videos tbody tr td {
        font-size: 1em;
    }

}