@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline+Text:wght@100;300;400;500;600;700;800;900&display=swap');

/* RESET CSS */
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.btn.btn-primary:hover {
  background: #56af83;

}

.btn.btn-primary {
  background: var(--base-color);
  border: 1px solid var(--base-color);
}

a {
  text-decoration: none;
  color: var(--text-color);
}

img {
  width: 100%;
  height: auto;
}

h1,
h2,
h3 {
  font-family: 'Roboto', cursive, sans-serif;
}

/* Variaveis */

:root {
  --header-height: 4.5rem;

  /* colors */
  --hue: 150;
  /* HSL color mode */
  --base-color: hsl(var(--hue) 36% 57%);
  --base-color-second: hsl(var(--hue) 65% 88%);
  --base-color-alt: hsl(var(--hue) 57% 53%);
  --title-color: hsl(var(--hue) 41% 10%);
  --text-color: hsl(0 0% 46%);
  --text-color-light: hsl(0 0% 98%);
  --body-color: hsl(0 0% 90%);

  /* fonts */
  --title-font-size: 1.875rem;
  --subtitle-font-size: 1rem;

  --title-font: 'Roboto', sans-serif;
  --body-font: 'DM Sans', sans-serif;
}

.divider-1 {
  height: 3px;
  background: linear-gradient(-270deg,
      hsla(var(--hue), 36%, 57%, 1) 0%,
      hsla(var(--hue), 65%, 88%, 0.34)100%);
}

.divider-2 {
  height: 3px;
  background: linear-gradient(270deg,
      hsla(var(--hue), 36%, 57%, 1) 0%,
      hsla(var(--hue), 65%, 88%, 0.34)100%);
}

/* Layout */
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
  background: var(--body-color);
}

.title {
  font-family: 'Big Shoulders Inline Text', cursive, sans-serif;
  font-weight: 700;
  font-size: 5.5rem;
  color: var(--base-color);
  -webkit-font-smoothing: auto;
  text-transform: uppercase;
  margin-top: 3rem;

}

.title-2 {
  font-family: 'Roboto', cursive, sans-serif;
  font-weight: 700;
  font-size: 3em;
  color: var(--text-color-color);
  -webkit-font-smoothing: auto;


}

ul {
  list-style: none;
}

.title-3 {
  font-family: 'Roboto', cursive, sans-serif;
  font-weight: 700;
  font-size: max 1.5rem;
  color: var(--text-color-color);
  -webkit-font-smoothing: auto;


}

.text h3 {
  border-bottom: 7px solid rgba(255, 0, 0, 0.671);
  width: 90%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 2px;
  border-top-right-radius: 7px;

}

/* Navigator */
#header {
  border-bottom: 1px solid #e4e4e4;
  margin-bottom: 2rem;
  display: flex;
  width: 100%;
  position: fixed;
  z-index: 1000;
  background-color: var(--body-color);
  top: 0;
  left: 0;
  background: var(--body-color);
  height: calc(var(--header-height) + 1rem);
  padding-top: .5rem;

}

#header.scroll {
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.685);
  z-index: 1000;
}


nav.container-2 {
  height: var(--header-height);
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem;
}

/* Menu mobile com show */
nav.show ul.grid {
  gap: 4rem;
}


nav .grid li {
  list-style: none;
  text-align: center;
}

nav .grid a {
  transition: 0.2s;
  position: relative;

}

nav ul li a:hover {
  color: var(--base-color);

}

nav ul li a.active {
  color: rgba(255, 0, 0, 0.671)
}

nav ul li a.active::after {
  content: "";
  width: 100%;
  height: 6px;
  background: rgba(255, 0, 0, 0.671);
  position: absolute;
  left: 0;
  bottom: -1.6rem;
  transition: 0.2s;
}

nav ul li a::after {
  content: "";
  width: 0%;
  height: 6px;
  background: var(--base-color);
  position: absolute;
  left: 0;
  bottom: -1.6rem;
  transition: 0.2s;
}


nav ul li a:hover::after {
  content: "";
  width: 100%;


}

nav .menu {
  opacity: 0;
  visibility: hidden;
  top: -20rem;
  transition: 0.4s;
}

nav .menu ul {
  display: none;
}

nav.show .menu ul {
  display: grid;
}

nav.show .menu {
  opacity: 1;
  visibility: visible;
  background: var(--body-color);
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;

}

/* Toogle menu */
nav .icon-cross {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: -2rem;
  right: 2rem;
  transition: 0.2s;
}

nav.show .icon-cross {
  visibility: visible;
  opacity: 1;
  top: 2rem;
  font-size: 1rem;
  transition: all 0.5s inherit;
}

nav .toogle {
  color: var(--base-color);
  font-size: 1.5rem;
  cursor: pointer;
}

nav .icon-menu {
  margin-right: 1.5rem;
  font-size: 3rem;
}

/* Logotipo */
.logo {
  width: 5rem;

}

nav>div.logo img {
  width: 100%;
  height: auto;
}

/* Sessões */
.grid {
  display: grid;
  gap: 2rem;
}

.section {
  padding: calc(5rem + var(--header-height)) 0;

  display: flex;
  flex-direction: column;
}

.section .title-2 {
  margin-bottom: 1rem;
  margin-top: 1.3rem;

}

/* .section header{
margin-bottom: 4rem;
} */

main {
  margin-top: calc(var(--header-height) + 2rem);
}

/* home */
#home {
  overflow: hidden;
  height: 100vh;
  justify-content: center;
}

#home .container-2 {
  margin: 0;

}

.text p {
  font-size: 1.5rem;
  text-align: justify;
}

#home .text {
  margin-left: 1.5rem;
  margin-right: 1.5rem;

}

#home .image {
  width: 100%;
  position: relative;
  right: 1rem;

}

#home .text h1 {
  margin-bottom: 1rem;
}


#home .image img,
#home .image::before {
  border-radius: 4px;
}

#home .image::before {
  content: '';
  height: 100%;
  width: 100%;
  background-color: var(--base-color);
  position: absolute;
  top: -16.8%;
  left: 16.8%;
  z-index: -1;
}


/* ABOUT */
#about {
  background: white;
  height: 100vh;
}

#about .container-2 {
  margin: 0;

}


#about .image {

  position: relative;
max-width: 80%;
  
  
}

#about .image img {
 
  position: relative;

  z-index: 1;

}




#about .image img,
#about .image::before {
  border-radius: 4px;
}

#about .image::before {
  content: '';
 height: 100%;
  width: 100%;
  background-color: var(--base-color);
  position: absolute;
  top: -8.3%;
  left: -16%;

}

#about  .text {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
line-height: 28px;

}
#about .container{
  overflow-y: auto;
  height:80%;
}
#about .text p{
  line-height: 1.5;
  
}
/*Serviços  */
#service {
  height: 100vh;
  overflow-y: auto;
}

.cards.grid {
  gap: 1.5rem;
  padding: 0px 1rem;
}
#service header p{
  font-size: 1.5rem;
  line-height: 1.5;
}
.cards header p {

  font-size: 2.6em;
}

.card {
  padding: 3.625rem 2rem;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
  border-bottom: 0.5rem solid var(--base-color);
  border-radius: 0.25rem 0.25rem 0 0;
  background: white;
  text-align: center;
  transition: all .3s linear;

}

#service .card:hover {
  transition: all .3s linear;
  transform: scale(1.1);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

#service a:hover {
  color: var(--text-color);
}

.card i {
  display: block;
  margin-bottom: 1.5rem;
  color: var(--base-color);
  font-size: 3rem;
  border-radius: 100%;

}

.card .title-3 {
  font-size: 1.5rem;
  margin-bottom: 0.75rem;
}

.card p {
  font-size: 1rem;
}

/* SLIDES */
#events {
  background: white;
  height: 100vh;
  justify-content: space-between;
  overflow-y: auto;

}

#events .container-2 header h2 {
  margin-left: 1rem;
}

.events h3 {

  font-size: 1.5rem;
  margin-top: 3rem;
  font-style: italic;
}

#events blockquote {
  padding: 2rem;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.26);
  border-radius: 0.25rem;

}

#events blockquote p {
  position: relative;
  text-indent: 2.0rem;
  color: var(--text-color);
  font-size: 1rem;
  text-align: justify;
}

#events blockquote p span {
  font: 700 1rem serif;
  position: absolute;
  top: -0.5rem;
  left: -2rem;
  color: var(--base-color);

}

#events blockquote cite {
  display: flex;
  align-items: center;
  font-style: normal;
  color: var(--title-color);
  font-size: 1rem;
}

#events blockquote cite span {
  background-color: var(--base-color);
  display: flex;
  justify-content: center;
  align-items: center;
  clip-path: circle();
  padding: 0.15rem;
  margin: .5rem;
}

#events blockquote cite img {
  width: 5rem;
  height: 5rem;
  object-fit: cover;
  clip-path: circle();
}

.carousel {
  box-shadow: 60px 16px 0px -5px var(--base-color);
}

.carousel-item img {
  height: 24rem;
}

.carousel-control-next span,
.carousel-control-prev span {
  background-color: var(--base-color-alt);
  padding: 3px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.7);
}

/* SWIPER */
.swiper-slide {
  height: auto;
  padding: 2rem 1rem;
}

.swiper-pagination-bullet-active {
  background: var(--base-color);
}

/* carroussel eventos */
/* Slideshow container-2 */


/* CONTACT */
#contact .container-2 {
  position: relative;

}

#contact h2 {
  margin: 0 auto;
  margin-bottom: 2rem;
}

.ilustract {
  background-image: url('../images/assets/undraw_Personal_email_re_4lx7.svg');
  width: 100%;
  height: 20rem;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.2;
}

#contact .container-2 .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#contact .container-2 .text p {
  color: var(--body-font);
  text-align: center;
  font-weight: 900;

}

#contact .container-2 .text a {
  background-color: var(--base-color);
  padding: 0.75rem;
  font-size: 2rem;
  color: white;
  border-radius: 0.2rem;
  transition: 0.2s;
}

#contact .container-2 .text a:hover {
  opacity: 0.90;
}

#contact .container-2 .text a i {
  margin-right: 0.3rem;
}

#contact .container-2 .links {

  display: flex;
  justify-content: center;
}

#contact .container-2 .links ul {
  list-style: none;

  font-weight: 700;

}

#contact .container-2 .links ul li {
  margin-bottom: 1rem;
}

#contact .container-2 .links ul li i {
  color: var(--base-color);
  margin-right: 1rem;
  font-size: 1.5rem;
}

/* ================== Time ================== */
#time {
  background: white;
  margin: 0;
  padding: 5rem 0;
  height: auto;
}

#time .row>div {
  margin-bottom: 2rem;
}

#time .card {
  margin-bottom: 1rem;
  margin: 0;
  padding: 0;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  position: relative;
  z-index: 0;
  transition: all .5s;

}

#time .card:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.548);
  transform: scale(1.1);
}

#time .card .card-header {
  padding: 3rem;
  position: relative;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  display: flex;
  justify-content: center;

  margin-bottom: 4rem;
}

#time .card .card-header .img-time {
  width: 8rem;
  height: 8rem;
  position: absolute;
  top: 0;
  clip-path: circle();
  top: 1.5rem;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.596);
  border-radius: 50%;
}

#time .card .card-header .img-time span {
  color: white;
  background-color: rgba(255, 0, 0, 0.52);
  width: 100%;
  display: block;
  position: absolute;
  bottom: -4px;
  font-size: 0.9rem;
  border-radius: 50%;
  padding: 2px;
  margin-bottom: 2px;
}
#time .card .card-header
#time .card a {
  display: flex;
  margin: 0 auto;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 0.7rem;
  margin-bottom: 2rem;

}

#time .card .icon-whatsapp {
  color: white;
  font-size: 1.5rem;
  margin: 0;
  display: flex;
}
#time .card .card-title {
  display: flex;
 
  justify-content: center;
  font-size: 1rem;
  align-items: center;
  width: 100%;
  gap: 6px;
}
#time .card .card-title span{
 width: auto;
 text-transform: uppercase;
}
#time .card .card-title .member-view-de a{
  
  padding: 0;
  margin: 0;
 
}
#time .card .card-title .member-view-de i{
  padding: 0;
  margin: 0;
  
  font-size: 1rem;
  box-shadow: 0px 0px 12px rgba(255, 0, 0, 0.705);
}
#time .card .card-title .member-view-de i:hover{
  background-color: var(--base-color);
  color: white;
  padding: 5px;
  border-radius: 10px;
  transition: all .3s linear;
}
#time .card .card-body p{
  padding: 1rem;
  font-size: 2rem;
}
#time .card .card-body .btn-whats{
  width: 70%;
    display: flex;
    gap: 13px;
    align-items: center;
    margin: 0 auto;
    padding: 10px;
    justify-content: center;
    margin-bottom: 1rem;
}
/* ========== FIM  TIME=========== */

/* Styles css of footer */

#footer {
  width: 100%;
  height: 30em;
  background: var(--base-color);
  display: flex;
  flex-direction: column;
  align-items: center;

}

#footer .context-logo {

  padding-left: 1.5em;
  padding-top: 4em;
  display: flex;
  flex-direction: column;
  align-items: center;

}

#footer .context-logo p {
  font-size: 2em;
  line-height: 20.83px;
  font-weight: 400;
  color: white;
  margin-top: .5em;
}

#footer .logo img {
  width: 9em;
  /* background-color:var(--body-color); */


}

#footer .networks-icons {
  padding-left: 1.5em;
  margin-top: 3em;
  margin-bottom: 3em;
  width: 100%;
  display: flex;
  justify-content: space-around;


}

#footer .networks-icons a {
  transition: .3s;
}

#footer .networks-icons a:hover {
  transform: translateY(-15px);
}


#footer .networks-icons i {
  color: white;
  font-size: 3em;
}

/* ###### PAGES  ###############*/
#header-pages {
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.178);
  position: fixed;
  width: 100vw;
  z-index: 100;
  top: 0;
}

#header-pages nav a img {
  margin-left: 1.5rem;
  width: 5rem;
}

#header-pages .title-pages {
  font-family: 'Big Shoulders Inline Text', cursive, sans-serif;
  font-weight: 700;
  font-size: 4rem;
  color: var(--base-color);
  -webkit-font-smoothing: auto;
  text-transform: uppercase;
}

#header-pages nav a i {
  color: var(--base-color);
  margin-right: 1.5rem;
  font-size: 2rem;
}

#videos {
  display: grid;
  padding-top: 3rem;
}

#videos .card {
  width: 90%;
  height: auto;
  margin: 1rem auto;
  padding: 0 0 2rem 0;
  position: relative;
  border-bottom: 2rem solid var(--base-color);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.205);

}

#videos .card img {
  width: 100%;
  height: 20rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

}

#videos .card a {
  margin: 0 auto;
  bottom: 0;
}

#videos .card a i {
  font-size: 8rem;
  color: var(--base-color);
  transition: all 0.3s linear;
}

#videos .card a i:hover {
  color: rgba(255, 0, 0, 0.555);
}

#videos .card .text {
  font-size: 1.5rem;
  margin: 0 auto;
  line-height: 2.2rem;
 
}

#videos .card .text span {
  color: var(--base-color);
  font-weight: 800;
}
.video-describe{
 padding: 0 3rem;
 
}
/*############# GALERY ############## */

#galery{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 5rem;
  height: 100%;
  overflow-y: auto;
 
}
#galery .galery-view-images-content{
  width: 100%;
  
}
#galery .card{

padding: 0;

}
#galery .card .title-event-card h2{
  font-size: 2.2rem;
  color: #6ab991;
  text-align: center;
}
#galery .card .img-event-card{
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 10rem;
  
}
#galery .card .img-event-card img{
  clip-path: circle();
  background-color: white;
  width: 10rem;
  height: 10rem;
  margin: 0;
  position: absolute;
  border: 3px solid #6ab991;
  border-radius: 50%;
  
}
#galery .card .img-event-card .img-event-contain{
  position: relative;
  height: auto;
  width: 50%;
}
#galery .card .btn-even-card{
  margin:2rem auto;
  padding: 0.7rem;
  font-size: 1rem;
  width: 50%;
}
#img-event-0{
left: -29px;
z-index: 1;
}
#img-event-1{
left: 39px;
z-index: 2;
}
#img-event-2{
left: 114px;
z-index: 3;
}
#img-event-3{
left: 189px;
z-index: 4;
}
#img-event-4{
left:264px;
z-index: 5;
}
/* ################## EVENT VIEW ##################### */
#galery-view{
  display: flex;
  align-items: center;
  flex-direction: column;
}

#galery-view .galery-view-images-content{
  width: 100%;
}

#galery-view .galery-view-image{
width: 100%;
margin: 2rem auto 0;

}
#galery-view .galery-view-image img{
  height: 60rem;
  transition: all 0.5 linear;
  cursor: pointer;
}
#galery-view .select-view-image{
  display: flex;
  width: 100%;
  height: 20rem;
  background: linear-gradient(-270deg,
  hsla(var(--hue), 36%, 57%, 1) 0%,
  hsla(var(--hue), 65%, 88%, 0.34)100%);
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
  overflow: auto;
  
}
#galery-view .select-view-image img{
  width: 11rem;
  height: 11rem;
  clip-path: circle();
  border-radius: 50%;
  background-color: white;
 filter: grayscale(100%);
}
#galery-view .select-view-image img:hover{
  transition: all 0.5s linear;
  filter: grayscale(0);
}
#galery-view .select-view-image .image-view-current{
  transition: all 0.5s linear;
  filter: grayscale(0);
 
 
}
#galery-view .title-galery-view h2{
  font-size: 4rem;
  color: var(--base-color);
  text-align: center;
  width: 100%;
 }
 #galery-view .description-galery-view p{
  font-size: 33px;
  line-height: 2;
  padding: 0 3rem;
  margin: 0 auto;
  text-align: justify;
 }
/* ################################################### */

/* ################################### */
/*
 @media para Responsividade Desck 
extra large devices: 1200 > 
large device: 1023 >
large device: 992
*/

/* ########### LOGIN ############# */
.login-content {
  margin: 0;
  padding: 0;
}

.login-content .login {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
  padding: 50px;

}

.login-content .login .card-login {
  background-color: white;
  width: 100%;
  height: 50rem;
  border-radius: 10px;
  box-shadow: 0 3px 25px rgba(0, 0, 0, 0.363);
  padding: 30px;
  border-bottom: 20px solid #56af83;
}

.login-content .login .card-login .card-header-login {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;


}

.login-content .login .card-login .card-header-login .card-logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 20%;
  height: 3rem;
}

.login-content .login .card-login .card-header-login .card-logo img {
  position: absolute;
  top: 0;
  left: 0;

}

.login-content .login .card-login .card-header-login .card-title-login {

  text-align: center;
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;

}

.login-content .login .card-login .card-header-login .card-title-login h1 {
  font-size: 4rem;
}

.login-content .login .card-login .form-login {
  height: 73%;

}

.login-content .login .card-login .form-login form {
  height: 73%;
  display: flex;
  flex-direction: column;
  gap: 43px;

}

.login-content .login .card-login .form-login form .button-login {
  display: flex;
  justify-content: end;
}

.login-content .login .card-login .form-login form button {
  height: 4rem;
  width: 15rem;
  font-size: 2rem;

}

.login-content .login .card-login .form-login form .input-login input {
  height: 5rem;
  font-size: 2rem;
}

.login-content .login .card-login .form-login form .input-login span i {
  color: #56af83;
  font-size: 2rem;
}

/* ########### FIM LOGIN ############# */

/* ##########  PAGE VIEW-VIDEO ########## */
.content-video {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

.content-video .video {

  width: 100%;
  margin-top: 200px;
  height: 100vh;

  padding: 0 10px;
}

.content-video .video iframe {
  width: 100%;
  height: 50%;

}

.content-video .video .descriptyon-video {
  padding: 20px;
  width: 100%;

}

.content-video .video .descriptyon-video h1 {
  font-size: 3rem;
  color: #56af83;
}

.content-video .video .descriptyon-video span {
  background: linear-gradient(-270deg,
      hsla(var(--hue), 36%, 57%, 1) 0%,
      hsla(var(--hue), 65%, 88%, 0.34)100%);
  color: #fff;
  width: 100%;
  padding: 5px;
  display: block;
  font-size: 1.5em;
  border-radius: 6px;
}

.content-video .video .descriptyon-video p {
  margin-top: 1em;
  font-size: 2em;
  line-height: 1.5em;
  text-align: justify;
  font-weight: 500;
  height: 37vh;
  overflow: auto;
}

/* ##########  FIM VIEW-VIDEO ########## */
/* ##########  VIEW-VIDEO - MEMBER VIEW DE ########## */
/*##################################################*/
/*#########INICIO TELA VIEW MEMBERS DESCK###########*/
/*##################################################*/
.content-member{
  width: 100%;
  margin-top: 200px;
  height: 100%;
  position: relative;
  padding: 0 4rem;
}
.date-personal-view {
  width: 100%;
  height: 100%;
  max-height: 15rem;
  background-color: #524f4f;
  background-color: #FFFFFF;
  background-image: linear-gradient(180deg, #FFFFFF 0%, #6ab991 50%, #335e48 100%);
 
  /* position: absolute; */
  /* top: 0; */
  /* left: 0; */
  margin-top: 2.4rem;
}

.date-personal-view .image-avatar-view {
  width: 40%;
  height: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  color: #6ab991;
}

.date-personal-view div.image-avatar-view img {
  width: 74%;
  max-height: 100%;
  opacity: 1;
  position: absolute;
  border-radius: 50%;
  border: 3px solid #6ab991;
  padding: 4px;
  background-color: white;
  margin-bottom: 5px;
  background-color: white;
}
.name-member-view{
  background: linear-gradient(217deg, #6ab99126, #6ab991 80.71%);
  color: white;
  width: 100%;
  height: auto;
  padding-left:2rem;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.267);
  box-shadow: 0 1px 1px rgb(255 0 0 / 57%);

}
.name-member-view h2{
  font-size: 4.1em;
  padding: 5px;
  margin: 0;
}
.date-personal-views{

  width: 100%;
  height: 50vh;
  background-color: white;
 box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.13) ;
  padding: 10px;
  border-bottom-right-radius:8px ;
  border-bottom-left-radius:8px ;
border-bottom:8px solid #6ab991;
border-top:2px solid rgba(255, 0, 0, 0.568);
overflow-y: auto;

}
.date-personal-views p,span{
 
  
 color: #6ab991;
 font-size: 2rem;
 
 
}
.date-personal-views span{
  color: #524f4f;
  text-align: justify;
  line-height: 3rem;
}
@media (min-width:992px) {
  .text p {
    font-size: 1.2rem;
    text-align: justify;
  }

  .title-2 {
    font-size: 2rem;
  }

  /* ======== HOME ======== */
  .grid {

    grid-template-columns: 1fr 1fr;
  }

  nav .menu {
    opacity: 1;
    visibility: visible;
    top: 0;
  }

  nav .menu ul {
    display: block;
    list-style: none;
    display: flex;
    margin-bottom: 0;
    margin-top: 18px;

  }

  nav .icon-menu {
    display: none;
  }

  #home .text {

    order: 0;
  }


  #home .image {
    order: 1;
    width: 90%;
  }

  nav ul li a.title-2 {
    font-weight: 700;
    font-size: 1rem;
  }

  .section {
    padding: 9rem 0;

    height: 100vh;

  }

  /* About */
  /* #about {
    overflow: auto;
  } */
  .container-2 .image img {
    max-height: 600px;

  }

  /* ====SERVICES==== */
  #service {
    height: 100vh;
    overflow-y: hidden;
    padding: 5rem 0;
  }

  #service .container-2 {
    display: flex;
    flex-direction: column;

  }

  #service .cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;


  }

  #service .cards .card {
    height: 20rem;
  }

  .container-2 header,
  .context-header {
    margin: 0 auto;
    width: 50vw;
    text-align: justify;
  }
  #about .container{
    height: 100%;
  }
  #about .text p{
    height: 65vh;
    overflow-y: auto;
  }
  #about .image{
    max-width: 100%;
  }
  #about .image img {
    height: 75vh;
   
    
  
  }
  #about .image::before {
    content: '';
   height: 75vh;
   max-height:27rem;
    
  
  }
  /* =====events====== */
  #events {
    margin: 0;
    height: 100vh;
    padding: 5rem 0;
  }

  #events header {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    align-items: center;
  }

  #events header .carousel {
    width: 60vw;
  }

  #events header .carousel .carousel-item img {
    height: 60vh;
  }

  .swiper-container {
    width: 60vw;
  }

  #events blockquote p span {
    top: -0.2rem;
    left: -1.1rem;
    font: 700 2rem serif;

  }

  /* =============== TIME ============== */
  #time .card {
    max-height: auto;
  }

  #time .card a {
    width:auto;
  }
  #time .card .card-body p{
    font-size: 0.9rem;
  }
  #time .card .card-body .btn-whats{
    
    padding: 10px;
    justify-content: center;
    margin-bottom: 0;
  }

  /*============== Contact ============== */
  #contact {
    padding: 5rem 0;
  }

  #contact h2 {
    margin-top: 2rem;

  }

  .ilustract {
    opacity: 0.9;
  }

  #contact .container-2 {
    display: flex;
    justify-content: center;
    align-items: baseline;
    height: 100%;
    padding-left: 6rem;
  }

  #contact .container-2 .text p {
    text-align: center;
    width: 15vw;
    text-align: justify;
  }

  #contact .container-2 .text a {
    font-size: 1rem;
    transition: all .5s linear;
  }

  #contact .container-2 .text a:hover {
    background-color: rgba(0, 158, 8, 0.479);
  }

  /* =========== footer ========== */
  footer .grid {
    display: block;
  }

  /* ############ PAGES VIDEOS ############### */
  #videos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
   
    justify-content: center;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  #videos .card {
    width: 100%;
    max-width: 27rem;
    height: 30rem;
  }

  #videos .card h2 {
    font-size: 1rem;
   
    
  }

  #videos .card img {
    width: 100%;
    height: 12rem;
  }

  #videos .card a i {
    font-size: 5rem;
  }

  #videos .card .video-describe .text {
    font-size: 0.7rem;
    line-height: 1.1rem;
      
  }
  #videos .card .video-describe{
    padding:0 1rem;
  
    
  }
  #videos .card .video-describe .text span{
    font-size: 0.7rem;
   
   
  }


  /* ############# TELA GALERY ############# */
  #galery{
    display: flex;
    flex-direction:row;
    justify-content:space-around;
    flex-wrap: wrap;
    gap: 1rem;
    height: 100vh;
   
  }
  #galery .card{
    width: 35rem;
    height: fit-content;
  }
  #galery .card .title-event-card h2{
  font-size: 1.5rem;
  color: #6ab991;
  margin: 1rem 1rem;
  }
  #galery .card .img-event-card .img-event-contain{
    width: 63%;
  }
  /* ############ GALERY VIEW ################## */

  /* ############# ################# */
  /* ############# TELA LOGIN ############# */
  .login-content .login .card-login {
    width: 700px;
    height: 500px;
    box-shadow: 100px -50px 0px #56af83;
  }

  .login-content .login .card-login .card-header-login .card-logo img {
    width: 5rem;

  }

  .login-content .login .card-login .card-header-login .card-title-login {
    height: 115px;
  }

  .login-content .login .card-login .card-header-login .card-title-login h1 {
    font-size: 3rem;
  }

  .login-content .login .card-login .form-login form .input-login input {
    height: 3rem;
    font-size: 1.2rem;
  }

  .login-content .login .card-login .form-login form {
    justify-content: center;
  }

  .login-content .login .card-login .form-login form .button-login {
    display: flex;
    justify-content: end;

  }

  .login-content .login .card-login .form-login form button {
    height: 3rem;
    width: 15rem;
    font-size: 1.2rem;

  }

  /* ############# FIM TELA LOGIN ############# */
#galery-view {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  align-items: flex-start;
  
}
#galery-view .galery-view-image{
  box-shadow:-345px -53px 0px #6ab991;
}
#galery-view .galery-view-image img{
 height: 65vh; 
}
#galery-view .select-view-image{
  height:22vh;
}
#galery-view .select-view-image img{
  height: 7rem;
}
#galery-view .title-galery-view h2{
  text-align: center;
  font-size: 3rem;
  text-transform: uppercase;
 
}
#galery-view .description-galery-view p{
  line-height: 1.2;
  font-size: 1.4rem;
  overflow-y: auto;
  height: 80vh;
  
}
  /* ############## iNICIO VIEW VIDEO DESCK-TOP ############ */

  .content-video .video {
    display: flex;
    flex-wrap: nowrap;
    margin-top: 300px;
  }

  .content-video .video iframe {
    box-shadow: -211px -87px 2px #56af83;
    height: 64vh;
  }

  .content-video .video .descriptyon-video h1 {
    font-size: 2rem;
  }

  .content-video .video .descriptyon-video {
    height: 20px;
    font-size: 0.7rem;
  }

  .content-video .video .descriptyon-video .descriptyon-video-text {

    height: 30rem;
    width: 100%;

  }

  .content-video .video .descriptyon-video p {
    height: 50vh;
  }
   /*##################################################*/
    /*#########INICIO TELA VIEW MEMBERS DESCK###########*/
    /*##################################################*/
    .date-personal-view {
      width: 100%;
      height: 20%;
      background-color: #524f4f;
      margin-top: 2.4rem;
      background-color: #FFFFFF;
      background-image: linear-gradient(180deg, #FFFFFF 0%, #6ab991 50%, #335e48 100%);
  }

  .date-personal-view .image-avatar-view {
      width: 16%;
      height: 100%;

      display: flex;
      position: relative;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      color: #6ab991;
  }

  .date-personal-view div.image-avatar-view img {
      width: 100%;
      max-width: 210px;
      max-height: 210px;
      opacity: 1;
      position: absolute;
      border-radius: 50%;
      border: 3px solid #6ab991;
      padding: 4px;
      background-color: white
  
  }

   .name-member-view{
      background: linear-gradient(217deg, #6ab99126, #6ab991 80.71%);
      color: white;
      width: 100%;
      height: auto;
      padding-left:2rem ;
      box-shadow: 0 1px 1px rgba(255, 0, 0, 0.568);
      padding-bottom: 0;
  }
  .name-member-view h2{
      font-size: 2em;
      margin-bottom: 1px;
  }
  .date-personal-views{
    
     height: 60vh;
  }
  .date-personal-views p,span{
    
   color: #6ab991;
   font-size: 1.3rem;
   
   
  }
  .date-personal-views span{
    color: #524f4f;
    text-align: justify;
    line-height: 2rem;
  }

  /* ############## FIM VIEW VIDEO ############ */
}