<footer id="footer">
    <div class="container-2 grid">
      <div class="context-logo">
        <div class="logo">
          <img src="/images/assets/logoWhite.png" alt="">
        </div>
        <p>&copy;2021 Diretoria de Empregados - DE</p>
      </div>
      <div class="networks-icons">
        <a href="https://www.facebook.com" target="_blank"> <i class="icon-facebook2"></i></a>
        <a href="https://www.instagram.com/de_2021_2023/" target="_blank"> <i class="icon-instagram"></i></a>
        <a href="https://www.youtube.com" target="_blank"> <i class="icon-youtube"></i></a>
      </div>

    </div>
  </footer>