<header id="header" class="">
    <nav class="container-2 ">
      <div class="logo">
         <a href="/#home"><img src="/images/assets/logoDE.png" alt=""></a>
      </div>
      <div class="menu">
        <ul class="grid">
          <li><a class="title-2" href="#home" style="text-transform: uppercase;">Home</a></li>
          <li><a class="title-2" href="#about" style="text-transform: uppercase;"><%=about[0].title%></a></li>
          <li><a class="title-2" href="#service" style="text-transform: uppercase;">Serviço</a></li>
          <li><a class="title-2" class="title-2" href="#events" style="text-transform: uppercase;">Eventos</a></li>
          <li><a class="title-2" href="#contact" style="text-transform: uppercase;">Contato</a></li>
          <li><a class="title-2" href="#time" style="text-transform: uppercase;">Nossa Equipe</a></li> 
          <li><a class="title-2" href="/login" style="text-transform: uppercase;">Login</a></li> 
        </ul>
      </div>
      <div class="toogle icon-menu"></div>
      <div class="toogle icon-cross"></div>
    </nav>
  </header>