<header id="header" class="">
    <nav class="container-2 ">
      <div class="logo">
        <img src="/images/assets/logoDE.png" alt="">
      </div>
      <div class="menu">
        <ul class="grid">
          <li><a class="title-2" href="#home">Home</a></li>
          <li><a class="title-2" href="#about">Sobre</a></li>
          <li><a class="title-2" href="#service">Serviço</a></li>
          <li><a class="title-2" class="title-2" href="#events">Eventos</a></li>
          <li><a class="title-2" href="#contact">Contato</a></li>
          <li><a class="title-2" href="#time">Time</a></li>
        </ul>
      </div>
      <div class="toogle icon-menu"></div>
      <div class="toogle icon-cross"></div>
    </nav>
  </header>