<%- include('../partials/head-admin.ejs') %>

<main class="admin-main">
    <h1 class="btn btn-primary"><%= user.name %></h1>

    <div class="logo-admin"></div>
    <nav class="nav-admin"></nav>
    <aside class="aside-admin"></aside>
    <section class="content"></section>
    <footer class="footer"></footer>
</main>

<%- include('../partials/scripts.ejs') %>